{% extends 'pos/index.html' %}


{% block main %}
    <div class="pagetitle">
        <h1>İşçilər</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body table-wrapper-scroll-y my-custom-scrollbar h-25">
                        <h5 class="card-title">İşçilərin siyahısı</h5>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ad</th>
                                <th scope="col">Soyad</th>
                                <th scope="col">İstifadəçi adı</th>
                                <th scope="col">Şəkil</th>
                                <th scope="col">Status</th>
                                <th>Əməliyyat</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for employee in employees %}
                                <tr {% if employee.is_deleted %} class="table-secondary" {% endif %}>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ employee.first_name }}</td>
                                    <td>{{ employee.last_name }}</td>
                                    <td class="emp_username">{{ employee.username }}</td>
                                    <td><img src="{{ employee.profile_picture.url }}" alt="Profil şəkili"
                                                class="rounded-circle" width="50" height="50"></td>
                                    <td>
                                        {% if employee.is_deleted %}
                                            <p class="text-muted">Bloklanan</p>
                                        {% else %}
                                            <p class="text-success">Aktiv</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if employee.is_deleted %}
                                            <button class="btn btn-outline-danger" id="employee_restore_btn"
                                                    data-bs-toggle="modal" data-bs-target="#modal_employee_restore"
                                                    url="{% url 'pos:employee_restore' employee.id %}">
                                                <i class="bi bi-unlock" style="color: red;"></i>
                                            </button>
                                        {% else %}
                                            <button class="btn btn-outline-primary" id="employee_delete_btn"
                                                data-bs-toggle="modal" data-bs-target="#modal_employee_delete"
                                                url="{% url 'pos:employee_block' employee.id %}">
                                            <i class="bi bi-lock-fill" style="color: blue;"></i>
                                        </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" style="text-align: center;">Məlumat yoxdur</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="modal fade" id="modal_employee_delete" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal_title_employee_delete"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Bloklanan işçilər öz hesablarına daxil ola bilmir.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Imtina
                                        </button>
                                        <form action="" method="post" id="form_modal_employee_delete">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Blokla
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal_employee_restore" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal_title_employee_restore"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Bərpa olunan işçilər əvvəlki qaydada öz hesablarına daxil ola bilirlər.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Imtina
                                        </button>
                                        <form action="" method="post" id="form_modal_employee_restore">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary">Bərpa et
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Yeni işçi</h5>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label for="inputFirstName" class="col-sm-2 col-form-label">Ad</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFirstName" name="first_name"
                                           required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputLastName" class="col-sm-2 col-form-label">Soyad</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputLastName" name="last_name"
                                           required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputUsername" class="col-sm-2 col-form-label">İstifadəçi adı</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputUsername" name="username" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword1" class="col-sm-2 col-form-label">Şifrə</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputPassword1" name="password1"
                                           required>
                                </div>
                                <p><code>Diqqət: İşçinin öz hesabına daxil ola bilməsi üçün bu şifrəni özünə
                                    bildirin!</code></p>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Təsdiqlə</button>
                                <button type="reset" class="btn btn-secondary">Təmizlə</button>
                                <button class="btn btn-primary" id="generate_password">Şifrə yarat</button>
                            </div>
                        </form>
                        {% if form.errors %}
                            {% for field in form %}

                                {% for error in field.errors %}
                                    <span style="color: red;">
                                        {{ field.label }}: {{ error|escape }}
                                    </span>
                                    <br>
                                {% endfor %}

                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}