{% extends 'pos/index.html' %}


{% load static %}


{% block main %}
    <div class="pagetitle">
        <h1>Firmalar və ya individual şəxslər</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body table-wrapper-scroll-y my-custom-scrollbar h-25">
                        <h5 class="card-title">Firmaların (individual şəxs) siyahısı</h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ad</th>
                                    <th scope="col">Əlaqə</th>
                                    <th>Əməliyyat</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for firm in object_list %}
                                    <tr>
                                        <form action="{% url 'pos:firm_update' firm.pk %}" method="post">
                                            {% csrf_token %}
                                            <td>{{ forloop.counter }}</td>
                                            <td><input type="text" class="form-control" style="border: 0;" name="name" value="{{ firm.name }}"></td>
                                            <td><input type="text" class="form-control" style="border: 0;" name="contact" value="{{ firm.contact|default_if_none:"" }}"></td>
                                            <td>
                                                <button type="submit" class="btn btn-outline-primary" title="Dəyiş" id="edit_firm"><i class="ri-edit-2-line"></i></button>
                                                <button
                                                        type="button"
                                                        class="btn btn-outline-danger"
                                                        title="Sil"
                                                        id="delete_firm"
                                                        data-bs-toggle="modal" data-bs-target="#modal"
                                                        url="{% url 'pos:firm_delete' firm.pk %}">
                                                    <i class="ri-delete-bin-5-line"></i>
                                                </button>
                                            </td>
                                        </form>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'partials/modal.html' %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Yeni firma və ya individual şəxs</h5>
                        <form action="{% url 'pos:firm_create' %}" method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label for="inputFirmName" class="col-sm-2 col-form-label">Ad</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFirmName" name="name"
                                           required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputFirmContact" class="col-sm-2 col-form-label">Əlaqə (tel. nömrəsi, e-poçta və s.)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFirmContact" name="contact">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Təsdiqlə</button>
                                <button type="reset" class="btn btn-secondary">Təmizlə</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
