{% extends 'pos/index.html' %}


{% block main %}
    <div class="pagetitle">
        <h1>Ölçü vahidi</h1>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-lg-6">
                <div class="card">
                    <div class="card-body table-wrapper-scroll-y my-custom-scrollbar h-25">
                        <h5 class="card-title">Ölçülərin siyahısı</h5>
{#                        <form action="{% url 'pos:warehouse_unitofmeasure_update' %}" method="post" class="unitofmeasure_edit_form">#}
{#                        {% csrf_token %}#}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ölçü vahidi</th>
                                    <th scope="col">Qısaldılmış adı</th>
                                    <th scope="col">Əməliyyat</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for unitofmeasure in object_list %}
                                    <tr>
                                        <form action="{% url 'pos:warehouse_unitofmeasure_update' unitofmeasure.pk %}" method="post" class="unitofmeasure_edit_form">
                                            {% csrf_token %}
                                        <input type="hidden" value="{{ unitofmeasure.pk }}" name="pk">
                                            <td>{{ forloop.counter }}</td>
                                            <td><input type="text" class="form-control" style="border: 0;" name="measure" value="{{ unitofmeasure.measure }}"></td>
                                            <td><input type="text" class="form-control" style="border: 0;" name="abbr" value="{{ unitofmeasure.abbr }}"></td>
                                            <td>
                                                <button type="submit" title="Dəyiş" class="btn btn-outline-primary"><i class="ri-edit-2-line"></i></button>
                                                <button
                                                        type="button"
                                                        title="Sil"
                                                        class="btn btn-outline-danger"
                                                        id="delete_unitofmeasure"
                                                        data-bs-toggle="modal" data-bs-target="#modal"
                                                        url="{% url 'pos:warehouse_unitofmeasure_delete' unitofmeasure.pk %}">
                                                    <i class="ri-delete-bin-5-line"></i>
                                                </button>
                                            </td>
                                        </form>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
{#                        </form>#}
                        {% include 'partials/modal.html' %}
                    </div>
                </div>
            </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Yeni ölçü vahidi</h5>
              <form action="{% url 'pos:warehouse_unitofmeasure_create' %}" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="inputMeasure" class="col-sm-2 col-form-label">Ölçü vahidi</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputMeasure" name="measure">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputAbbr" class="col-sm-2 col-form-label">Qısaldılmış adı</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputAbbr" name="abbr">
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Əlavə et</button>
                  <button type="reset" class="btn btn-secondary">Təmizlə</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}