{% extends 'pos/index.html' %}


{% block main %}
    <div class="pagetitle">
        <h1>Firmalardan (və ya individual şəxs) alınan məhsullar</h1>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-lg-8">
                <div class="card">
                    <div class="card-body table-wrapper-scroll-y my-custom-scrollbar h-25">
                        <h5 class="card-title"></h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    {% for purchase_product_field in purchase_product_fields %}
                                        <th scope="col">{{ purchase_product_field.verbose_name }}</th>
                                    {%endfor%}
                                    <th scope="col">Firma və ya individual şəxs</th>
                                    <th scope="col">Ölçü vahidi</th>
{#                                    <th scope="col"></th>#}
                                </tr>
                            </thead>
                            <tbody>
                                {% for purchase_product in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ purchase_product.product }}</td>
                                        <td>{{ purchase_product.employee }}</td>
                                        <td>{{ purchase_product.date }}</td>
                                        <td>{{ purchase_product.quantity }}</td>
                                        <td>{{ purchase_product.product.firm }}</td>
                                        <td>{{ purchase_product.product.measure }}</td>
                                        <td>
                                            <button
                                                    type="button"
                                                    class="btn btn-light geri_qaytar_btn"
                                                    title="Geri qaytar"
                                                    data-bs-toggle="modal" data-bs-target="#modal"
                                                    url="{% url 'pos:warehouse_firm_purchase_delete' purchase_product.pk %}">
                                                <i class="fa-2x ri-refund-2-fill" style="font-size: 20px;"></i>
                                            </button>
                                        </td>
                                    </tr>
                                 {% empty %}
                                    <tr>
                                        <td colspan="8" class="text-center">Məlumat yoxdur</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'partials/modal.html' %}
                    </div>
                </div>
            </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Yeni əməliyyat</h5>
              <form action="{% url 'pos:warehouse_firm_purchase_create' %}" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="inputProduct" class="col-sm-2 col-form-label">Alınan məhsul</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="inputProduct" name="product" required>
                            <option value="">---</option>
                            {% for product in products %}
                                <option value="{{ product.id }}">{{ product.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                  <label for="inputQuantity" class="col-sm-2 col-form-label">Say</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputQuantity" name="quantity" required>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Əlavə et</button>
                  <button type="reset" class="btn btn-secondary">Təmizlə</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}