{% extends 'pos/index.html' %}


{% block main %}
    <div id="reader"></div>
    <div id="result"></div>

    <div class="pagetitle">
      <h1>Məhsulların siyahısı</h1>
    </div>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Barkod</th>
                    <th scope="col">Firma və ya individual şəxs</th>
                    <th scope="col">Qiymət</th>
                    <th scope="col">Say</th>
                    <th scope="col">Ölçü vahidi</th>
                    <th scope="col">Şəkil</th>
                  </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.barcode }}</td>
                        <td>{{ product.firm }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.measure }}</td>
                        <td>
                            {% if product.picture %}
                                <img src="{{ product.picture.url }}" alt="Şəkil" class="bi-0-square" width="50" height="50">
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>Məlumat yoxdur</tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}